body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  background: #1b1b1b;
  color: #fff;
}

.profile-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(145deg, #1f1f1f, #292929);
  border: 3px solid #ffc107;
  box-shadow: inset 0 0 10px rgba(255, 193, 7, 0.4);
}


.social {
  color: #ffc107;
  font-size: 1.3rem;
  transition: 0.3s;
}

.social:hover {
  color: #fff;
}

.content-area {
  background: #1b1b1b;
  color: #ccc;
}

.nav-tabs .nav-link {
  color: #aaa;
  border: none;
  font-weight: 600;
}

.nav-tabs .nav-link.active {
  color: #ffc107;
  border-bottom: 2px solid #ffc107;
  background: transparent;
}

.card.bg-dark {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card.bg-dark:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(255, 193, 7, 0.3);
}

.timeline li {
  border-left: 3px solid #ffc107;
  margin-left: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.project-card {
  transition: all 0.3s ease;
}

.project-card:hover {
  background: #292929;
  transform: translateY(-5px);
}
